body {
    background-color: bisque;
    font-family:'Sans Serif';
}

.row {
    display: flex;
    background-color: lightgrey;
}

.col{ 
    flex: 1 0 0%;
}

.nav {
    justify-content: right;
    align-items: center;
}

.nav .col {
    flex-grow: 0;
    padding: 1rem;
}
 
section {
  width: 70%;
  margin: 20px auto;
  background-color: white;
}
.aboutme {
    font-size: 20px;
    text-align: center;
    background-color: white;
}

.footer {
    background-color: white;
    display: flexbox;
}